<div *ngIf="recordsByGenre$ | async as sets">
  <header>
    <h1>Some random record shop</h1>
    <nav>
      <ul>
        <li *ngFor="let set of sets">
          <a href="#{{ set.genre }}">{{ set.genre }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section *ngFor="let set of sets" title="{{ set.genre }}">
      <h2 id="{{ set.genre }}">{{ set.genre }}</h2>
      <article *ngFor="let record of set.records">
        <div>
          <img src="assets/images/{{ record.cover }}" />
          <h3>{{ record.title }}</h3>
          <h4>{{ record.artist }}</h4>
          <dl>
            <dt>Style</dt>
            <dd *ngFor="let style of record.style">{{ style }}</dd>
          </dl>
          <dl>
            <dt>Year</dt>
            <dd>{{ record.year }}</dd>
          </dl>
        </div>
        <button (click)="addToCart(record)">Add to cart</button>
      </article>
    </section>
    <aside aria-live="polite" role="region">
      <h2>Cart</h2>
      <p *ngIf="cart.length < 1; else cartContent">Your cart is empty</p>
    </aside>
  </main>
</div>

<ng-template #cartContent>
  <ul>
    <li *ngFor="let item of cart">
      {{ item.title }}
    </li>
  </ul>
</ng-template>
